@mixin mont-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin mont-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
@mixin rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
@mixin rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}